<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446644797337-ujni4um5feme1and7fgrfd38nv5rr5mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446644797337-ujni4um5feme1and7fgrfd38nv5rr5mf</string>
	<key>API_KEY</key>
	<string>AIzaSyC6BZsGZFdvCRuZlphuuH3n26abuBlASJY</string>
	<key>GCM_SENDER_ID</key>
	<string>446644797337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobven.enterprise.newtoxcode.prod</string>
	<key>PROJECT_ID</key>
	<string>new-to-xcode-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>new-to-xcode-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446644797337:ios:1e8b6e5a01460b276e5d08</string>
</dict>
</plist>